<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>This site was created by Piyush Sharma.It uses data from mapbox.com and weather stack</h2>
        {{!-- <img class="portrait" src="/img/me.png"> --}}
    </div>
    
    {{>footer}}
</body>

</html>